fastapi
aiohttp
trafilatura
colorlog
openai
numpy
pydantic
beautifulsoup4
uvicorn
transformers
pandas
tokenizers
FlagEmbedding
tiktoken
pinecone-client
protobuf
pymongo
erniebot
yagmail
akshare
baostock
datetime
backoff
flask
xlrd
openpyxl
rich
hnswlib
pyahocorasick
apscheduler
mysql-connector-python
tushare
retry
vllm-flash-attn
ray
nvidia-ml-py # for pynvml package
xformers
vllm-flash-attn
lark
outlines
opencv-python
decord
vllm
llm2vec
flash_attn
requests
wxpy
schedule
PyYAML
loguru
wcferry
pytz
pillow
captcha
pynng
xmltodict